<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="myCronTriggerBean"></ref>
                <ref bean="myCronTriggerBean1"></ref>
            </list>
        </property>
    </bean>
    <bean id="myCronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="myJobDetail"></property>
        <property name="cronExpression" value="00 00 01 ? * TUE-FRI"></property>
    </bean>
    <bean id="myCronTriggerBean1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="myJobDetail1"></property>
        <property name="cronExpression" value="00 00 02 01 * ?"></property>
    </bean>
    <bean id="myJobDetail1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="salaryJob"></property>
        <property name="targetMethod" value="salaryJob"></property>
        <property name="concurrent" value="true"></property>
    </bean>

    <bean id="myJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="punchJob"></property>
        <property name="targetMethod" value="punchJob"></property>
        <property name="concurrent" value="true"></property>
    </bean>
    <bean class="qurtz.PunchJob" id="punchJob"></bean>
    <bean class="qurtz.SalaryJob" id="salaryJob"></bean>
</beans>